@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.blueShadow {
  box-shadow: 3px 3px 0px 0px #60a5fa;
}

.blueShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0px 0px #60a5fa;
}

.btnShadow {
  box-shadow: 1.5px 1.5px 0px 0px #60a5fa;
}

.btnShadowHover:hover {
  box-shadow: 1.5px 1.5px 0px 0px #60a5fa;
}
